.hms-bg-normal{
    background-color: #7f005d;

}
.hms-bg-light{
    color: #ff66d6;
}
.hms-bg-dark, .hms-bg-dark:hover{
    background-color: #68004c;
    color: white;
}

.hms-color{
    color: #7f005d;
}
.hms-bg-dark,.hms-bg-dark:hover{
    background-color: #68004c;
    color: white;
}